.root {
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
}

.page-title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-max-width: infinity;
}

.button {
    -fx-background-color: #eee;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-padding: 6 12 6 12;
}

.button.active {
    -fx-background-color: #3399ff;
    -fx-text-fill: white;
    -fx-border-color: #2a7ae2;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.wrap-text-button {
  -fx-alignment: center;
  -fx-text-alignment: center;
}
